<%=fn%>
<%=ln%>
<%=age%>
<%=hair%>
<%=eye%>
<%=food%>

<h1> What is your favorite drink?: </h1>
<form method = "post" action = "p_drink">
	<input type = "text" name = "drink">
	<input type = "submit" value = "Submit">
	<input type = "hidden" name = "fn" value = "<%=fn%>">
	<input type = "hidden" name = "ln" value = "<%=ln%>">
	<input type = "hidden" name = "age" value = "<%=age%>">
	<input type = "hidden" name = "hair" value = "<%=hair%>">
	<input type = "hidden" name = "eye" value = "<%=eye%>">
	<input type = "hidden" name = "food" value = "<%=food%>">	
</form>