<%=fn%>
<%=ln%>
<%=age%>
<%=hair%>

<h1> What is your eye color?: </h1>
<form method = "post" action = "p_eye">
	<input type = "text" name = "eye">
	<input type = "submit" value = "Submit">
	<input type = "hidden" name = "fn" value = "<%=fn%>">
	<input type = "hidden" name = "ln" value = "<%=ln%>">
	<input type = "hidden" name = "age" value = "<%=age%>">
	<input type = "hidden" name = "hair" value = "<%=hair%>">
</form>