<%=fn%>
<%=ln%>
<%=age%>

<h1> What is your hair color?: </h1>
<form method = "post" action = "p_hair">
	<input type = "text" name = "hair">
	<input type = "submit" value = "Submit">
	<input type = "hidden" name = "fn" value = "<%=fn%>">
	<input type = "hidden" name = "ln" value = "<%=ln%>">
	<input type = "hidden" name = "age" value = "<%=age%>">
</form>