<h1> "<%=fn%> <%=ln%> your results are <%=num1%> <%=op%> <%=num2%> = <%=t%> </h1>

<form method="post" action = "p_res">
	<input type = "submit" value = "Back to the calculator">
	<input type = "hidden" name = "fn" value = "<%=fn%>">
	<input type = "hidden" name = "ln" value = "<%=ln%>">
</form>