<h1> Hello <%=fn%> <%=ln%> at <%=age%> with <%=hair%> hair and <%=eye%> eyes. </h1> <br>
<h1> Your favorite food and drink <%=food%> and <%=drink%>. </h1> <br>
<h1> Your 3 favorite numbers are <%=num1%>, <%=num2%>, <%=num3%> and there sum is: <%=sum%>. </h1> <br>
<h1> The result of the sum of your favorite numbers times your age <%=qwerty%>. </h1>